0 ICON libui.ico
1 VERSIONINFO
FILEVERSION     0,0,1,0
PRODUCTVERSION  0,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "HKUST Robotics Team"
      VALUE "FileDescription", "LibUI for Windows"
      VALUE "FileVersion", "0.1"
      VALUE "InternalName", "libui_win"
      VALUE "LegalCopyright", "Daniel Cheung"
      VALUE "OriginalFilename", "gui_win.exe"
      VALUE "ProductName", "LibUI for Windows"
      VALUE "ProductVersion", "0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END